body {
    background-color: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial,  sans-serif;
    font-size: 15px;
    color: white;
    margin-right: 1em;


    
    
}
/* stats card */

.row {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 70px auto;
    width: 76%;
    padding-left: 1px;
    
         

}


.stats-Desc {
    line-height: 1.8em;
    margin-bottom: 5em;
    padding-left: 25px;
    
    
}
.stats-Caption{
    margin-bottom: 0.75em;
    font-weight: 700;
    padding-left: 25px;
    margin-top: 35px;
}

.card-stat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 74%;
    letter-spacing: 1px;
    padding-left: 25px;
    font-size: 13px;
   
}

 img{
        width: 100%;
   
    }


.stats-image {
    width: 102%;
    padding-right: 3px;
    
    
}

span{
    color: blueviolet;

    
}